/* fonts */

:fonts {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    src: url(./assets/fonts/static/Inter-Bold.ttf);
    src: url(./assets/fonts/static/Inter-Regular.ttf);
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

/* root */
:root {
    --clr-Green: hsl(75, 94%, 57%);
    
    --clr-White: hsl(0, 0%, 100%);
    --clr-Grey-700: hsl(0, 0%, 20%);
    --clr-Grey-800: hsl(0, 0%, 12%);
    --clr-Grey-900: hsl(0, 0%, 8%);

    --ff: "Inter", sans-serif;
    --fs-h1: 30px;
    --fs-h2: 14px;
    --fs-p: 14px;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-Grey-900);
    font-family: var(--ff);    
    font-size: Var(--fs-h1);
    font-size: var(--fs-h2);
    font-size: var(--fs-p);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    background-color: var(--clr-Grey-800);
    max-width: 400px; 
    width: 100%;
    border-radius: 11px; 
    padding: 30px;
}

#username {
    color: var(--clr-White);
    font-weight: var(--fw-600);
    line-height: 1.1rem;
    padding-top: 35px;
    padding-bottom: 18px;
    text-align: center;
}

#user-location {
    color: var(--clr-Green);
    font-weight: var(--fw-400);
    font-size: var(--fs-h2);
    line-height: 1rem;
    text-align: center;
    padding-bottom: 15px;
}

#user-description {
    color: var(--clr-White);
    font-size: var(--fs-p);
    padding: 15px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 25%; 
    height: 25%; 
    object-fit: cover; 
    display: block;
    max-width: 100%;
    align-items: center;
}

.social-links {
    list-style: none;
    font-weight: var(--fw-600);
    align-items: center;
}

.link-item {
    text-decoration: none;
    width: 82%;
    padding: 10px;
    margin: 10px 0 15px 0;
    display: block;
    border-radius: 6px;
    color: var(--clr-White);
    background-color: var(--clr-Grey-700);
    text-align: center;    
}

li a:hover {
    background-color: var(--clr-Green)
  }

.attribution {
    font-size: 10px;
    color: #fff;
    text-align: center;
}
  
.attribution a {
    color: hsl(228, 45%, 44%);
}

    